.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block; }

@keyframes wave-animation {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-10deg); }
  /* The following four values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(12deg); }
  30% {
    transform: rotate(-10deg); }
  40% {
    transform: rotate(9deg); }
  50% {
    transform: rotate(0deg); }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg); } }

.scroller {
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 78.75em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 35.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "CircularStd", sans-serif;
  line-height: 1.6;
  color: #414141; }

a:link,
a:visited {
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

a:hover {
  opacity: 0.7; }

.mainlink:link,
.mainlink:visited {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out i;
    transition-margin-left: 3rem; }

.mainlink:link i,
.mainlink:visited i {
  margin-left: 3rem; }

.mainlink:hover,
.mainlink:active {
  opacity: 1 !important; }

.mainlink .border-bottom--white,
.mainlink .border-bottom--black {
  position: relative; }

.mainlink .border-bottom--white::after,
.mainlink .border-bottom--black::after {
  content: "";
  width: 0;
  position: absolute;
  height: 2px;
  background: #ed1c24;
  bottom: -1px;
  left: 0;
  transition: all 0.2s ease-in-out; }

.mainlink:hover .border-bottom--white::after,
.mainlink:hover .border-bottom--black::after {
  width: 100%; }

.fly-text-cont {
  position: relative; }

.fly-text {
  position: absolute;
  top: 4rem;
  left: -14rem;
  font-size: 1.4rem;
  transform: rotate(-90deg);
  color: #000;
  line-height: 18px;
  /**
    @media only screen and (max-width: $bp-mobile-small) {
        left: -4rem;
        top: 3rem;
    }
**/ }
  @media only screen and (max-width: 90em) {
    .fly-text {
      left: -6rem;
      top: 3.5rem; } }
  @media only screen and (max-width: 78.75em) {
    .fly-text {
      left: -5rem; } }
  @media only screen and (max-width: 48em) {
    .fly-text {
      display: none; } }
  .fly-text::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: -5rem;
    height: 7rem;
    width: 1px;
    background-color: #1c1b20;
    transform: rotate(90deg); }
    @media only screen and (max-width: 48em) {
      .fly-text::before {
        top: -1.5rem;
        left: -3.8rem;
        height: 5rem; } }

.full-section {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
  grid-column-gap: 3rem; }
  @media only screen and (max-width: 48em) {
    .full-section {
      grid-template-columns: 1fr; } }

.dark {
  color: #c4c4c4; }
  .dark a,
  .dark span {
    color: #c4c4c4; }

.nav-arrows {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 3rem; }
  .nav-arrows a:link,
  .nav-arrows a:visited {
    color: #1c1b20; }
  .nav-arrows__prev, .nav-arrows__next {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    align-items: center; }
  .nav-arrows__next {
    display: grid; }
  .nav-arrows span {
    font-size: 1.4rem; }

@media only screen and (max-width: 56.25em) {
  .mobile-hide {
    display: none; } }

h1 {
  font-size: 5.5rem;
  font-family: "DIN", sans-serif;
  font-weight: 700;
  line-height: 6rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 78.75em) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 48em) {
    h1 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 35.5em) {
    h1 {
      font-size: 4.2rem;
      line-height: 5rem; } }
  @media only screen and (max-width: 35.5em) {
    h1 {
      font-size: 3.8rem;
      line-height: 4.2rem; } }

h2 {
  font-size: 8rem;
  font-family: "DIN", sans-serif;
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase; }

h2.main {
  font-size: 8rem;
  font-family: "DIN", sans-serif;
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 48em) {
    h2.main {
      font-size: 7rem;
      line-height: 7rem; } }
  @media only screen and (max-width: 35.5em) {
    h2.main {
      font-size: 6rem;
      line-height: 6rem; } }
  h2.main::before {
    content: '';
    z-index: -1;
    border-radius: 100%;
    position: absolute;
    width: 15.2rem;
    height: 15.2rem;
    left: -15%;
    top: -15%;
    background: linear-gradient(180deg, rgba(255, 4, 4, 0.2) 0%, rgba(255, 255, 255, 0) 113.16%); }
    @media only screen and (max-width: 48em) {
      h2.main::before {
        width: 11rem;
        height: 11rem;
        left: -10%;
        top: -10%; } }

h3 {
  font-size: 2.4rem;
  line-height: 135%;
  text-transform: none;
  font-weight: 700;
  color: #1c1b20; }

h4 {
  font-size: 1.8rem;
  text-transform: none; }

p {
  font-size: 1.6rem;
  line-height: 145%; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular/CircularStd-Book.eot");
  src: url("../fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Book.woff") format("woff"), url("../fonts/Circular/CircularStd-Book.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular/CircularStd-Medium.eot");
  src: url("../fonts/Circular/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Medium.woff") format("woff"), url("../fonts/Circular/CircularStd-Medium.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular/CircularStd-Bold.eot");
  src: url("../fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Bold.woff") format("woff"), url("../fonts/Circular/CircularStd-Bold.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN/DINPro-CondBold.otf");
  font-weight: 700;
  font-style: normal; }

.bg-primary {
  background: #ed1c24; }

.bg-white {
  background: #fff; }

.bg-black {
  background: #1c1b20; }

.highlight-white {
  color: #fff !important; }

.highlight-primary {
  color: #ed1c24 !important; }

.dot-circle {
  font-family: "CircularStd", sans-serif;
  color: #ed1c24 !important; }

.border-bottom--white {
  border-bottom: 1px solid #fff; }

.border-bottom--black {
  border-bottom: 1px solid #1c1b20; }

.heading-22 {
  font-size: 2.2rem; }

.mainlink.main-btn {
  padding: 0.7rem 1rem 0.7rem 3rem;
  font-size: 1.6rem;
  color: #fff !important;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }
  .mainlink.main-btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ff9292;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .mainlink.main-btn:hover:before, .mainlink.main-btn:focus:before, .mainlink.main-btn:active:before {
    right: 0; }

.mainlink.main-btn.bg-white {
  color: #ed1c24 !important; }

.three-col {
  grid-template-columns: repeat(3, 1fr);
  display: grid; }

.pt-100 {
  padding-top: 10rem; }

.pb-100 {
  padding-bottom: 10rem; }

.pt-50 {
  padding-top: 5rem; }

.pb-50 {
  padding-bottom: 5rem; }

.pt-40 {
  padding-top: 4rem; }

.pb-40 {
  padding-bottom: 4rem; }

.pt-30 {
  padding-top: 3rem; }

.pb-30 {
  padding-bottom: 3rem; }

.pt-20 {
  padding-top: 2rem; }

.w-100 {
  width: 100% !important; }

.w-90 {
  width: 90% !important; }

.w-80 {
  width: 80% !important; }

.w-70 {
  width: 70% !important; }

.w-60 {
  width: 60% !important; }

.w-50 {
  width: 50% !important; }

.w-40 {
  width: 40% !important; }

.mt-100 {
  margin-top: 10rem; }

.mb-100 {
  margin-bottom: 10rem; }

.mt-50 {
  margin-top: 5rem; }

.mb-50 {
  margin-bottom: 5rem; }

.mt-40 {
  margin-top: 4rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mt-30 {
  margin-top: 3rem; }

.mb-30 {
  margin-bottom: 3rem; }

.mt-20 {
  margin-top: 2rem; }

.page-card-container {
  background: #fff;
  margin-top: -6rem;
  z-index: 2;
  grid-column: center-start / center-end;
  padding: 5rem 8rem;
  box-shadow: 0px 10px 50px rgba(139, 163, 185, 0.4), 0px 60px 30px rgba(0, 0, 0, 0.02);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .page-card-container {
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      height: 120%; } }
  @media only screen and (max-width: 48em) {
    .page-card-container {
      padding: 4rem 5rem;
      margin-top: -7rem; } }
  @media only screen and (max-width: 25.8em) {
    .page-card-container {
      padding: 3rem 5rem; } }

.page__card {
  display: flex;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content min-content max-content;
  grid-row-gap: 1.5rem; }
  .page__card--title {
    margin-bottom: 0.5rem; }
    .page__card--title h3 {
      color: #1c1b20; }

.hww-cards {
  background: #fff;
  padding: 4rem 4rem;
  margin-bottom: 3rem;
  box-shadow: 0px 10px 50px rgba(139, 163, 185, 0.4), 0px 60px 30px rgba(0, 0, 0, 0.02); }
  .hww-cards__icontitle {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
    align-items: center; }
    .hww-cards__icontitle--icon {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%), #c5d1ff;
      padding: 1.5rem;
      border-radius: 100%; }
  .hww-cards__title {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem; }

.project-cards__image {
  width: 100%;
  height: 45rem;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  z-index: -2; }
  @media only screen and (max-width: 78.75em) {
    .project-cards__image {
      height: 35rem; } }
  @media only screen and (max-width: 56.25em) {
    .project-cards__image {
      height: 45rem; } }
  @media only screen and (max-width: 35.5em) {
    .project-cards__image {
      height: 30rem; } }

.project-cards__inner-image {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important; }

.project-cards__featured {
  height: 60rem; }
  @media only screen and (max-width: 78.75em) {
    .project-cards__featured {
      height: 45rem; } }
  @media only screen and (max-width: 56.25em) {
    .project-cards__featured {
      height: 45rem; } }
  @media only screen and (max-width: 35.5em) {
    .project-cards__featured {
      height: 30rem; } }

.project-cards__content {
  background: white;
  margin: 0 auto;
  width: calc(100% - 12rem);
  padding: 3rem 3rem 2rem;
  margin-top: -6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50; }
  @media only screen and (max-width: 78.75em) {
    .project-cards__content {
      width: calc(100% - 6rem); } }
  @media only screen and (max-width: 35.5em) {
    .project-cards__content {
      width: calc(100% - 3rem); } }

.project-cards__content-featured {
  padding: 3rem 4rem 2rem; }

.project-cards__title-box {
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1rem; }
  .project-cards__title-box::before {
    content: "";
    background: #ed1c24;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    left: -2.5rem;
    top: 15%; }
    @media only screen and (max-width: 35.5em) {
      .project-cards__title-box::before {
        height: 0.7rem;
        width: 0.7rem; } }

.project-cards__title {
  transition: all 0.2s ease-in-out; }

.project-cards__cat {
  color: #8895a7; }

.project-cards__icon {
  transition: all 0.2s ease-in-out;
  position: relative;
  right: 0; }
  .project-cards__icon--small {
    width: 6rem; }
  .project-cards__icon img {
    width: 100%; }

.project-cards__link {
  transition: all 0.2s ease-in-out; }
  .project-cards__link:hover {
    opacity: 100%; }
  .project-cards__link:hover .project-cards__inner-image {
    transform: scale(1.06); }
  .project-cards__link:hover .project-cards__title {
    color: #ed1c24; }
  .project-cards__link:hover .project-cards__icon {
    position: relative;
    right: -10px; }

.swiper-container {
  width: 100%;
  position: absolute !important; }

@media only screen and (max-width: 48em) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 3rem !important; } }

.clients.swiper-container {
  padding: 8rem 2rem; }

.clients {
  grid-column: center-start / center-end;
  padding: 8rem 2rem;
  cursor: pointer;
  position: relative;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 48em) {
    .clients {
      padding-bottom: 4rem; } }
  @media only screen and (max-width: 35.5em) {
    .clients {
      margin-top: 5rem; } }
  @media only screen and (max-width: 25.8em) {
    .clients {
      margin-top: 7rem; } }
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    min-width: 200px !important; }
    @media only screen and (max-width: 35.5em) {
      .clients__list {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2rem; } }
  .clients__item:hover img {
    filter: grayscale(0); }
  .clients__item img {
    max-width: 100%;
    filter: grayscale(1);
    transition: all 0.2s ease-in-out; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 25.8em) {
    .container {
      grid-template-columns: [full-start] minmax(3.5rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(3.5rem, 1fr) [full-end]; } }

.header-container {
  display: grid;
  grid-template-rows: 11.5rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-column: full-start / full-end;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 48em) {
    .header-container {
      padding-bottom: 12rem;
      grid-template-rows: max-content;
      height: auto; } }

.bg-home {
  background-image: url(../img/hero-bg.jpg); }

.bg-projects {
  background-image: url(../img/projects-bg.jpg);
  background-position: center center;
  height: 90rem; }
  @media only screen and (max-width: 48em) {
    .bg-projects {
      padding-bottom: 35rem !important;
      height: auto; } }

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: 11.5rem max-content max-content;
  grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
  grid-column-gap: 30px;
  align-items: center;
  color: #fff;
  position: relative; }
  .header__text-box {
    color: #fff;
    grid-column: center-start / center-end;
    width: 95%;
    position: relative;
    z-index: 3; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        width: 100% !important;
        padding: 8rem 0; } }
    @media only screen and (max-width: 48em) {
      .header__text-box {
        width: 100%;
        padding: 7rem 0 4rem; } }
    @media only screen and (max-width: 25.8em) {
      .header__text-box {
        padding: 6rem 0 4rem; } }
    .header__text-box::before {
      content: "";
      position: absolute;
      width: 188px;
      height: 188px;
      border-radius: 100%;
      left: -5rem;
      top: 3rem;
      background: linear-gradient(195.81deg, #72202a -0.26%, rgba(19, 38, 45, 0.12) 81.11%);
      mix-blend-mode: multiply;
      opacity: 0.5;
      z-index: -1; }
      @media only screen and (max-width: 48em) {
        .header__text-box::before {
          width: 148px;
          height: 148px; } }
      @media only screen and (max-width: 35.5em) {
        .header__text-box::before {
          width: 128px;
          height: 128px; } }
      @media only screen and (max-width: 25.8em) {
        .header__text-box::before {
          width: 98px;
          height: 98px; } }
  .header__description {
    grid-column-gap: 5rem;
    color: #c4c4c4;
    grid-column: center-start / center-end;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header__description {
        grid-template-columns: 28rem 1fr;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 2rem;
        width: 100% !important; } }
    @media only screen and (max-width: 48em) {
      .header__description {
        grid-template-columns: none;
        grid-row-gap: 3rem; } }
    .header__description--main {
      font-weight: normal !important;
      color: #c4c4c4; }
      .header__description--main .highlight-white {
        font-weight: 700; }
        @media only screen and (max-width: 48em) {
          .header__description--main .highlight-white {
            display: inline; } }
        @media only screen and (max-width: 25.8em) {
          .header__description--main .highlight-white {
            display: block; } }
    .header__description--action {
      font-size: 1.8rem;
      justify-self: center; }
      @media only screen and (max-width: 56.25em) {
        .header__description--action {
          grid-column: 2 / -1;
          justify-self: start; } }
      .header__description--action a {
        display: flex;
        align-items: center; }
        .header__description--action a .arrow-right {
          padding-top: 6px; }
  .header a:link,
  .header a:visited {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }

.nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 35.5em) {
    .nav__logo .logo {
      width: 80%; } }
  .nav__main {
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    align-items: start; }
    .nav__main--start {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-gap: 5vh 1rem;
      align-items: center;
      align-items: center;
      padding: 0 8rem; }
      @media only screen and (max-width: 35.5em) {
        .nav__main--start {
          display: none; } }
    .nav__main--menu {
      display: flex; }
      .nav__main--menu--circle {
        font-size: 3.8rem;
        color: #ed1c24;
        border-radius: 100%;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 5px;
        height: 5px;
        background: red;
        transform: translate(-50%, 150%);
        text-indent: -9999px; }

.scroller {
  bottom: 15%;
  left: 10rem;
  position: absolute;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 15px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  z-index: 2; }
  .scroller__image {
    position: absolute;
    -webkit-transform: translateY(-40%) rotate(90deg);
    -ms-transform: translateY(-40%) rotate(90deg);
    transform: translateY(-40%) rotate(90deg); }
  .scroller__text {
    position: absolute;
    right: -90px; }

.footer {
  background: #1c1b20;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  border-top: 5px solid #ed1c24; }
  .footer .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    margin: 9rem 0; }
    @media only screen and (max-width: 48em) {
      .footer .content {
        grid-template-columns: max-content min-content; } }
    @media only screen and (max-width: 35.5em) {
      .footer .content {
        grid-row-gap: 5rem;
        grid-template-columns: 1fr; } }
    .footer .content .footer-logo {
      grid-column: 1 / 3; }
      @media only screen and (max-width: 48em) {
        .footer .content .footer-logo {
          grid-column: 1 / 2; } }
      @media only screen and (max-width: 35.5em) {
        .footer .content .footer-logo {
          grid-column: 1 / -1; } }
      .footer .content .footer-logo__icon {
        margin-bottom: 3rem; }
      .footer .content .footer-logo__desc {
        font-size: 1.8rem; }
        .footer .content .footer-logo__desc a {
          display: inline-block; }
    .footer .content .footer-contact {
      margin: 0 10rem;
      grid-column: 3 / 6;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .footer .content .footer-contact {
          margin: 0 3rem; } }
      @media only screen and (max-width: 48em) {
        .footer .content .footer-contact {
          grid-column: 2 / 3; } }
      @media only screen and (max-width: 35.5em) {
        .footer .content .footer-contact {
          grid-column: 1 / -1;
          margin: 0 0rem; } }
      .footer .content .footer-contact__address {
        font-size: 1.4rem; }
      .footer .content .footer-contact__number,
      .footer .content .footer-contact__email a {
        color: #fff; }
    .footer .content .footer-social {
      grid-column: 6 / 7; }
      @media only screen and (max-width: 48em) {
        .footer .content .footer-social {
          grid-column: 1 / 3; } }
      @media only screen and (max-width: 35.5em) {
        .footer .content .footer-social {
          grid-column: 1 / -1; } }
  .footer .copyright {
    grid-column: center-start / center-end;
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content max-content;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 35.5em) {
      .footer .copyright {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem; } }
    .footer .copyright .copyright-text {
      font-size: 1.2rem; }
    .footer .copyright .copyright-links {
      list-style: none;
      display: flex; }
      .footer .copyright .copyright-links__items:not(:last-child) {
        margin-right: 1rem; }
        .footer .copyright .copyright-links__items:not(:last-child)::after {
          content: " | ";
          padding: 0 10px; }

.social {
  list-style: none;
  display: flex; }
  .social__item:not(:last-child) {
    margin-right: 1.8rem; }

.navbar-toggle {
  position: absolute;
  cursor: pointer; }

.main-nav {
  list-style-type: none;
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out; }
  .main-nav li a {
    font-weight: 400;
    line-height: 1.35;
    font-size: 2rem;
    line-height: 1.5;
    position: relative;
    display: block;
    padding: 2rem 0 0; }

.navactive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  z-index: 99999; }

.nav__main--menu--close {
  justify-content: center;
  text-align: center;
  color: #ed1c24;
  font-weight: 700; }

.hidemenu {
  display: none; }

.navtoggle-active {
  position: fixed;
  z-index: 9999;
  right: 2rem;
  top: 4rem; }
  .navtoggle-active .openmenu {
    display: none; }
  .navtoggle-active .hidemenu {
    display: block; }

/*

.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
}
*/
.main-nav2 {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #000;
  width: 35rem;
  height: 100%;
  z-index: 9;
  transform: translateX(35rem);
  transition: all 200ms ease-in-out;
  list-style: none; }
  @media only screen and (max-width: 35.5em) {
    .main-nav2 {
      width: 28rem;
      transform: translateX(28rem); } }
  .main-nav2 li a {
    font-weight: 400;
    line-height: 1.35;
    font-size: 2rem;
    line-height: 1.5;
    position: relative;
    display: block;
    padding: 2rem 0 0; }

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.main-nav2.open {
  transform: translateX(0); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear; }

.overlay.open {
  z-index: 8;
  opacity: 1; }

.closeMenu {
  cursor: pointer;
  position: relative;
  margin: 4rem 0 10rem; }

.nav__main--menu--close {
  font-size: 1.5rem;
  border-radius: 100%;
  justify-content: center;
  text-align: center;
  color: #ed1c24;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -30%); }

.menu-social {
  margin-top: 10rem; }
  @media only screen and (max-width: 35.5em) {
    .menu-social li a img {
      width: 80%; } }

.whatwedo {
  margin: 5rem 0 8rem; }
  @media only screen and (max-width: 48em) {
    .whatwedo {
      grid-row-gap: 4rem;
      grid-template-rows: repeat(2, max-content);
      grid-template-columns: 1fr;
      margin: 5rem 0 5rem; } }
  .whatwedo .content {
    grid-column: center-start / 3;
    padding-right: 2rem; }
    @media only screen and (max-width: 48em) {
      .whatwedo .content {
        grid-column: 1 / -1;
        grid-row: 1 / -1; } }
    .whatwedo .content__title {
      margin-bottom: 6rem;
      color: #ed1c24; }
      @media only screen and (max-width: 48em) {
        .whatwedo .content__title {
          margin-bottom: 3rem; } }
    .whatwedo .content__subtitle {
      margin-bottom: 6.5rem; }
      @media only screen and (max-width: 48em) {
        .whatwedo .content__subtitle {
          margin-bottom: 3rem; } }
    .whatwedo .content__desc {
      margin-bottom: 5rem; }
    .whatwedo .content .mainlink:link,
    .whatwedo .content .mainlink:visited {
      display: flex;
      align-content: center;
      color: #1c1b20; }

.services_container {
  background-color: #1c1b20;
  grid-column: 3 / -1; }
  @media only screen and (max-width: 48em) {
    .services_container {
      grid-column: 1 / -1;
      grid-row: 3 / -1; } }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-row-gap: 4.5rem;
  grid-column-gap: 1.5rem;
  padding: 6rem 4rem 0 8rem; }
  .services__item {
    color: #fff; }
    .services__item--title {
      margin: 1rem 0 2rem 0; }
    .services__item--list {
      list-style: none;
      font-size: 1.6rem; }
      .services__item--list li {
        font-size: 1.6rem;
        color: #d3d3d3;
        margin: 0.8rem 0;
        line-height: 1.8rem; }
        .services__item--list li::before {
          content: "\2022";
          color: #ed1c24;
          position: absolute;
          font-weight: normal;
          font-size: 1.4rem;
          margin-left: -1.3em; }

.letstalk {
  color: #d3d3d3;
  text-align: right;
  padding: 2.3rem;
  border-top: 1px solid #d3d3d333;
  margin: 4rem 6rem 0 6rem; }
  @media only screen and (max-width: 35.5em) {
    .letstalk {
      margin: 4rem 0 0 0;
      text-align: center;
      padding: 2.3rem 0; } }
  @media only screen and (max-width: 25.8em) {
    .letstalk {
      padding: 2.3rem 2.5rem; } }
  .letstalk a:link,
  .letstalk a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #ed1c24;
    padding-bottom: 0.5rem; }

.featured-projects {
  grid-template-rows: max-content 39rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .featured-projects {
      /*grid-template-columns: 1fr;*/
      grid-template-columns: repeat(6, 1fr);
      margin: 5rem 0; } }
  .featured-projects .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 56.25em) {
      .featured-projects .content {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 3rem;
        grid-row: 1 / -1; } }
    @media only screen and (max-width: 78.75em) {
      .featured-projects .content .fly-text {
        left: -6.2rem; } }
    @media only screen and (max-width: 56.25em) {
      .featured-projects .content .fly-text {
        left: -7rem; } }
    .featured-projects .content__title {
      margin-bottom: 6rem;
      color: #1c1b20;
      grid-column: center-start / 3;
      justify-self: start; }
      @media only screen and (max-width: 56.25em) {
        .featured-projects .content__title {
          grid-column: 1 / -1;
          margin-bottom: 3rem; } }
    .featured-projects .content__subtitle {
      margin-bottom: 6.5rem;
      grid-column: 3 / 6;
      align-self: center; }
      @media only screen and (max-width: 56.25em) {
        .featured-projects .content__subtitle {
          grid-column: 1 / -1; } }
    .featured-projects .content .mainlink:link,
    .featured-projects .content .mainlink:visited {
      display: flex;
      color: #1c1b20;
      grid-column: 6 / 7;
      align-self: center !important;
      margin-bottom: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .featured-projects .content .mainlink:link,
        .featured-projects .content .mainlink:visited {
          grid-column: 1 / -1; } }
  .featured-projects .project-cont {
    background: #ed1c24;
    grid-column: center-start / 4;
    color: #fff;
    padding: 3rem 5rem;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    display: grid; }
    @media only screen and (max-width: 56.25em) {
      .featured-projects .project-cont {
        grid-column: 1 / 6; } }
    .featured-projects .project-cont .project {
      grid-row: 1 / 7;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media only screen and (max-width: 48em) {
        .featured-projects .project-cont .project {
          grid-column: 1 / -1;
          flex-direction: row; } }
      .featured-projects .project-cont .project__number {
        color: #fff; }
        @media only screen and (max-width: 48em) {
          .featured-projects .project-cont .project__number {
            order: 2; } }
      .featured-projects .project-cont .project__title {
        padding-bottom: 5rem; }
        @media only screen and (max-width: 48em) {
          .featured-projects .project-cont .project__title {
            order: 1; } }
        .featured-projects .project-cont .project__title--name {
          font-family: "DIN", sans-serif;
          font-size: 2.4rem;
          margin-bottom: 2rem; }
          @media only screen and (max-width: 48em) {
            .featured-projects .project-cont .project__title--name {
              font-size: 2.6rem; } }
          .featured-projects .project-cont .project__title--name::after {
            content: "";
            height: 1px;
            width: 2rem;
            background: #fff;
            display: block;
            margin-top: 1rem; }
        .featured-projects .project-cont .project__title--cat {
          list-style: none;
          font-weight: 400;
          font-size: 1.2rem; }
          @media only screen and (max-width: 48em) {
            .featured-projects .project-cont .project__title--cat {
              font-size: 1.4rem; } }
          .featured-projects .project-cont .project__title--cat li:before {
            content: "\2022";
            color: #fff;
            position: absolute;
            font-weight: normal;
            font-size: 1.2rem;
            margin-left: -1.3em; }
    .featured-projects .project-cont .project-case {
      grid-column: 3 / -1;
      grid-row: 1 / -1;
      width: 180%;
      background: #1c1b20;
      border: 5px solid #fff;
      position: relative;
      display: grid;
      align-items: end; }
      @media only screen and (max-width: 78.75em) {
        .featured-projects .project-cont .project-case {
          max-width: 175%; } }
      @media only screen and (max-width: 56.25em) {
        .featured-projects .project-cont .project-case {
          height: 45rem; } }
      @media only screen and (max-width: 48em) {
        .featured-projects .project-cont .project-case {
          max-width: 143%;
          grid-row: auto;
          height: 35rem;
          grid-column: 1 / -1;
          border: 2px solid #fff;
          overflow: hidden; } }
      @media only screen and (max-width: 35.5em) {
        .featured-projects .project-cont .project-case {
          height: 30rem;
          max-width: 160%; } }
      @media only screen and (max-width: 25.8em) {
        .featured-projects .project-cont .project-case {
          height: 25rem;
          max-width: 160%; } }
      .featured-projects .project-cont .project-case__item {
        padding: 3rem; }
        .featured-projects .project-cont .project-case__item .dark-overlay {
          position: absolute;
          background: #1c1b20;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6; }
        .featured-projects .project-cont .project-case__item--bg {
          background-size: cover !important;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .featured-projects .project-cont .project-case__item--bg-1 {
          background: url("../img/projects/supergiant-preview.jpg"); }
        .featured-projects .project-cont .project-case__item--image {
          height: 32rem;
          position: absolute; }
          .featured-projects .project-cont .project-case__item--image img {
            object-fit: cover;
            width: 100%;
            height: 100%; }
        .featured-projects .project-cont .project-case__item--overview, .featured-projects .project-cont .project-case__item--desc, .featured-projects .project-cont .project-case__item--button {
          position: relative;
          z-index: 4; }
        .featured-projects .project-cont .project-case__item--overview {
          color: #fff;
          font-size: 1.4rem;
          display: block;
          border-bottom: 1px solid #ed1c24;
          padding-bottom: 2rem; }
        .featured-projects .project-cont .project-case__item--desc {
          font-size: 1.4rem; }
          @media only screen and (max-width: 56.25em) {
            .featured-projects .project-cont .project-case__item--desc {
              font-size: 1.6rem;
              margin-bottom: 1rem; } }
        .featured-projects .project-cont .project-case__item--button {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1rem;
          color: #1c1b20;
          background-color: #fff;
          padding: 10px 20px;
          text-decoration: none; }
        .featured-projects .project-cont .project-case__item .project-case__footer {
          display: grid;
          grid-template-columns: 30rem max-content;
          justify-content: space-between;
          margin-top: 2rem;
          align-items: center; }
          @media only screen and (max-width: 78.75em) {
            .featured-projects .project-cont .project-case__item .project-case__footer {
              grid-template-columns: 1fr;
              justify-items: start;
              grid-row-gap: 1rem; } }
  .featured-projects .project-intro {
    grid-column: 5 / 7;
    grid-row: 2 / -1;
    z-index: 2; }
    @media only screen and (max-width: 56.25em) {
      .featured-projects .project-intro {
        grid-column: 1 / 6;
        grid-row: 4 / 5; } }
    .featured-projects .project-intro__text {
      margin: 3rem 0 4rem 0; }
      .featured-projects .project-intro__text span {
        font-weight: 500;
        color: #1c1b20;
        display: block;
        margin-bottom: 2rem; }
  .featured-projects .navigator {
    margin-top: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .featured-projects .navigator {
        margin-top: 3rem; } }
    .featured-projects .navigator__number {
      font-size: 1.4rem;
      margin-right: 3rem;
      color: #8895a7;
      font-weight: 700; }
      .featured-projects .navigator__number .active {
        color: #1c1b20; }
  .featured-projects .circle-pattern-bg {
    background: url("../img/circle patterns.png") no-repeat;
    height: 34.8rem;
    width: 100%;
    grid-column: 4 / 7;
    grid-row: 2 / -1;
    z-index: -1; }
    @media only screen and (max-width: 56.25em) {
      .featured-projects .circle-pattern-bg {
        grid-column: 1 / -1;
        grid-row: auto;
        position: absolute;
        left: 0;
        bottom: 0px; } }

.howwework {
  background: url(../img/howweworkbg.jpg);
  background-size: cover;
  background-color: #1c1b20;
  grid-column: full-start / full-end;
  height: 47.5rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
  margin: 5rem 0 0rem 0; }
  @media only screen and (max-width: 48em) {
    .howwework {
      height: 100%;
      grid-template-columns: 1fr;
      grid-column: 1 / -1;
      grid-template-rows: max-content; } }
  .howwework .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    align-items: start;
    padding: 10rem 0 0 0; }
    @media only screen and (max-width: 48em) {
      .howwework .content {
        grid-template-columns: 1fr; } }
    .howwework .content__title {
      margin-bottom: 6rem;
      color: #fff;
      grid-column: center-start / 3; }
      @media only screen and (max-width: 48em) {
        .howwework .content__title {
          grid-column: center-start / center-end; } }
    .howwework .content__subdesc {
      margin-bottom: 6.5rem;
      grid-column: 3 / 6; }
      @media only screen and (max-width: 48em) {
        .howwework .content__subdesc {
          grid-column: center-start / center-end;
          width: 90%; } }
      .howwework .content__subdesc .content__subtitle {
        margin-bottom: 3rem;
        color: #fff; }
      .howwework .content__subdesc .content__desc {
        color: #d3d3d3; }

.hww-cont {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-column-gap: 2rem;
  margin: -12rem 0 10rem 0;
  z-index: 5; }
  @media only screen and (max-width: 78.75em) {
    .hww-cont {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 48em) {
    .hww-cont {
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      margin: 2rem 0 10rem 0; } }

.quote {
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 48em) {
    .quote {
      margin-top: 5rem; } }
  .quote .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    align-items: center;
    position: relative; }
    .quote .content blockquote {
      grid-column: 1 / 6;
      color: #1c1b20; }
      @media only screen and (max-width: 48em) {
        .quote .content blockquote {
          grid-column: 1 / -1; } }
    .quote .content img {
      grid-column: 6 / 7; }
      @media only screen and (max-width: 48em) {
        .quote .content img {
          width: 25%;
          position: absolute;
          right: 2rem;
          z-index: -1;
          top: -8rem;
          grid-column: 1 / -1; } }
      @media only screen and (max-width: 35.5em) {
        .quote .content img {
          top: -8rem; } }
      @media only screen and (max-width: 25.8em) {
        .quote .content img {
          top: -6.5rem; } }
  .quote--large {
    font-size: 5.5rem;
    line-height: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .quote--large {
        font-size: 5rem;
        line-height: 5.2rem; } }
    @media only screen and (max-width: 48em) {
      .quote--large {
        font-size: 4.5rem;
        line-height: 5rem; } }
    @media only screen and (max-width: 35.5em) {
      .quote--large {
        font-size: 3.8rem;
        line-height: 4.2rem; } }

.cta-bottom {
  grid-column: center-start / center-end;
  margin: 14rem 0 8rem 0; }
  @media only screen and (max-width: 35.5em) {
    .cta-bottom {
      margin: 10rem 0 8rem 0; } }
  .cta-bottom .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    align-items: start; }
    @media only screen and (max-width: 78.75em) {
      .cta-bottom .content {
        grid-column-gap: 0rem; } }
    @media only screen and (max-width: 56.25em) {
      .cta-bottom .content {
        grid-row-gap: 3rem; } }
    @media only screen and (max-width: 48em) {
      .cta-bottom .content {
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 56.25em) {
      .cta-bottom .content .fly-text {
        left: -7rem; } }
    .cta-bottom .content__title {
      margin-bottom: 6rem;
      color: #ed1c24;
      grid-column: center-start / 3; }
      @media only screen and (max-width: 56.25em) {
        .cta-bottom .content__title {
          margin-bottom: 0; } }
      @media only screen and (max-width: 35.5em) {
        .cta-bottom .content__title {
          grid-column: center-start / 2; } }
    .cta-bottom .content__subdesc {
      margin-bottom: 6.5rem;
      grid-column: 3 / 5; }
      @media only screen and (max-width: 56.25em) {
        .cta-bottom .content__subdesc {
          grid-column: 3 / -1;
          margin-bottom: 0; } }
      @media only screen and (max-width: 35.5em) {
        .cta-bottom .content__subdesc {
          grid-column: 2 / -1; } }
      .cta-bottom .content__subdesc .content__subtitle {
        margin-bottom: 2.5rem;
        color: #1c1b20; }
      .cta-bottom .content__subdesc .content__desc {
        color: #414141; }
    .cta-bottom .content .mainlink {
      grid-column: 5 / 7;
      margin-left: 7rem;
      margin-top: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .cta-bottom .content .mainlink {
          grid-column: 3 / -1;
          margin-top: 0;
          margin-left: 0;
          max-width: 28rem; } }
      @media only screen and (max-width: 35.5em) {
        .cta-bottom .content .mainlink {
          grid-column: 1 / -1;
          max-width: 100%;
          display: flex;
          justify-content: space-between; } }
      .cta-bottom .content .mainlink i {
        margin-top: 0.5rem; }
        @media only screen and (max-width: 35.5em) {
          .cta-bottom .content .mainlink i {
            margin-right: 2rem; } }

.heading-inline {
  grid-template-rows: max-content; }

.featured-project {
  align-items: start;
  margin-top: -35rem;
  z-index: 999; }
  @media only screen and (max-width: 56.25em) {
    .featured-project {
      grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end]; } }
  @media only screen and (max-width: 56.25em) {
    .featured-project {
      margin-bottom: 6rem;
      grid-template-columns: inherit;
      grid-column: 1 / -1;
      grid-column-gap: 0;
      margin-top: -30rem; } }
  @media only screen and (max-width: 48em) {
    .featured-project {
      margin-top: -25rem; } }
  .featured-project__title {
    justify-self: end;
    grid-column: 1 / 3;
    margin-top: 25rem;
    font-weight: 300;
    color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .featured-project__title {
        grid-column: 1 / -1;
        justify-self: center;
        margin-bottom: 2rem;
        margin-top: 0; } }
  .featured-project__card {
    grid-column: 3 / -1; }
    @media only screen and (max-width: 56.25em) {
      .featured-project__card {
        grid-column: 1 / -1; } }

.mvpi-preview {
  background: url("../img/projects/preview/mvpi.jpg"); }

.robookeeper-preview {
  background: url("../img/projects/preview/robookeeper.jpg"); }

.ngk-preview {
  background: url("../img/projects/preview/ngk.jpg"); }

.supergiant-preview {
  background: url("../img/projects/preview/supergiant.jpg"); }

.skyline-preview {
  background: url("../img/projects/preview/skyline.jpg"); }

.thalos-preview {
  background: url("../img/projects/preview/thalos.jpg"); }

.oneglobal-preview {
  background: url("../img/projects/preview/oneglobal.jpg"); }

.item-margin {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .item-margin {
      margin-top: 0; } }

@media only screen and (max-width: 56.25em) {
  .project-items {
    grid-row-gap: 8rem; } }

@media only screen and (max-width: 35.5em) {
  .project-items {
    grid-row-gap: 4rem; } }

@media only screen and (max-width: 56.25em) {
  .project-items__list {
    grid-column: 1 / -1 !important; } }

.project-items--1 {
  grid-column: 1 / 4; }

.project-items--2 {
  grid-column: 4/ -1; }

.project-items--3 {
  grid-column: 1 / 4; }

.project-items--4 {
  grid-column: 4 / -1; }

.project-items--5 {
  grid-column: 1 / 4; }

.project-items--6 {
  grid-column: 4 / -1; }

.project-heading__title {
  grid-column: 1 / 4;
  margin-left: 10rem; }

.project-heading__desc {
  grid-column: 4 / -1; }
  .project-heading__desc h3 {
    color: #fff;
    font-weight: normal; }
  .project-heading__desc .project-date {
    color: #c4c4c4;
    margin-bottom: 2rem; }

.big-featured-cont {
  margin-top: -45rem;
  z-index: 9999; }

.big-featured {
  grid-column: center-start / center-end; }
  .big-featured__image {
    width: 100%; }

.whatwedo.project-overview .content {
  grid-column: center-start / 4;
  padding-right: 2rem; }

.project-details {
  grid-column: 5 / -1; }
  .project-details__item {
    margin-bottom: 5rem; }
  .project-details__title {
    color: #8895a7;
    margin-bottom: 1rem; }
  .project-details__value--list {
    list-style: none;
    font-size: 1.6rem; }
    .project-details__value--list li {
      position: relative;
      margin-left: 1rem; }
    .project-details__value--list li::before {
      content: "";
      background: #ed1c24;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      position: absolute;
      left: -1rem;
      top: 40%; }

.project-screen {
  grid-column: center-start / center-end; }
  .project-screen__images {
    width: 100%; }

.otherprojects {
  text-align: center;
  grid-column: center-start / center-end; }
