.bg-primary {
  background: $color-primary;
}

.bg-white {
  background: $color-white;
}

.bg-black {
  background: $color-black;
}

.highlight-white {
  color: $color-white !important;
}

.highlight-primary {
  color: $color-primary !important;
}
.dot-circle {
  font-family: $font-primary;
  color: $color-primary !important;
}

.border-bottom {
  &--white {
    border-bottom: 1px solid $color-white;
  }

  &--black {
    border-bottom: 1px solid $color-black;
  }
}

.heading-22 {
  font-size: 2.2rem;
}

.mainlink.main-btn {
  padding: 0.7rem 1rem 0.7rem 3rem;
  font-size: $default-font;
  color: $color-white !important;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ff9292;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    right: 0;
  }
}

.mainlink.main-btn.bg-white {
  color: $color-primary !important;
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.pt-100 {
  padding-top: 10rem;
}

.pb-100 {
  padding-bottom: 10rem;
}

.pt-50 {
  padding-top: 5rem;
}

.pb-50 {
  padding-bottom: 5rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pt-20 {
  padding-top: 2rem;
}

.w-100 {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-60 {
  width: 60% !important;
}

.w-50 {
  width: 50% !important;
}

.w-40 {
  width: 40% !important;
}

// margins

.mt-100 {
  margin-top: 10rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mt-20 {
  margin-top: 2rem;
}
