// WHAT WE DO

.whatwedo {
  margin: 5rem 0 8rem;

  @media only screen and (max-width: $bp-tab-por) {
    grid-row-gap: 4rem;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    margin: 5rem 0 5rem;
  }

  .content {
    grid-column: center-start / 3;
    padding-right: 2rem;

    @media only screen and (max-width: $bp-tab-por) {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__title {
      margin-bottom: 6rem;
      color: $color-primary;

      @media only screen and (max-width: $bp-tab-por) {
        margin-bottom: 3rem;
      }
    }

    &__subtitle {
      margin-bottom: 6.5rem;

      @media only screen and (max-width: $bp-tab-por) {
        margin-bottom: 3rem;
      }
    }

    &__desc {
      margin-bottom: 5rem;
    }

    .mainlink:link,
    .mainlink:visited {
      display: flex;
      align-content: center;
      color: $color-black;
    }
  }
}

.services_container {
  background-color: $color-black;
  grid-column: 3 / -1;

  @media only screen and (max-width: $bp-tab-por) {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-row-gap: 4.5rem;
  grid-column-gap: 1.5rem;
  padding: 6rem 4rem 0 8rem;

  &__item {
    color: $color-white;

    &--icon {
    }

    &--title {
      margin: 1rem 0 2rem 0;
    }

    &--list {
      list-style: none;
      font-size: $default-font;

      li {
        font-size: $default-font;
        color: $color-grey;
        margin: 0.8rem 0;
        line-height: 1.8rem;

        &::before {
          content: "\2022";
          color: $color-primary;
          position: absolute;
          font-weight: normal;
          font-size: 1.4rem;
          margin-left: -1.3em;
        }
      }
    }
  }
}

.letstalk {
  color: $color-grey;
  text-align: right;
  padding: 2.3rem;
  border-top: 1px solid #d3d3d333;
  margin: 4rem 6rem 0 6rem;

  @media only screen and (max-width: $bp-mobile) {
    margin: 4rem 0 0 0;
    text-align: center;
    padding: 2.3rem 0;
  }

  @media only screen and (max-width: $bp-mobile-small) {
    padding: 2.3rem 2.5rem;
  }

  a:link,
  a:visited {
    color: $color-white;
    text-decoration: none;
    border-bottom: 2px solid $color-primary;
    padding-bottom: 0.5rem;
  }
}

// FEATURED PROJECTS

.featured-projects {
  grid-template-rows: max-content 39rem;
  position: relative;

  @media only screen and (max-width: $bp-tab) {
    /*grid-template-columns: 1fr;*/
    grid-template-columns: repeat(6, 1fr);
    margin: 5rem 0;
  }

  .content {
    @include six-column;
    grid-row: 1 / 2;

    @media only screen and (max-width: $bp-tab) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 3rem;
      grid-row: 1 / -1;
    }

    .fly-text {
      @media only screen and (max-width: $bp-1260) {
        left: -6.2rem;
      }

      @media only screen and (max-width: $bp-tab) {
        left: -7rem;
      }
    }

    &__title {
      margin-bottom: 6rem;
      color: $color-black;
      grid-column: center-start / 3;
      justify-self: start;

      @media only screen and (max-width: $bp-tab) {
        grid-column: 1 / -1;
        margin-bottom: 3rem;
      }
    }

    &__subtitle {
      margin-bottom: 6.5rem;
      grid-column: 3 / 6;
      align-self: center;

      @media only screen and (max-width: $bp-tab) {
        grid-column: 1 / -1;
      }
    }

    .mainlink:link,
    .mainlink:visited {
      display: flex;
      color: $color-black;
      grid-column: 6 / 7;
      align-self: center !important;
      margin-bottom: 6rem;

      @media only screen and (max-width: $bp-tab) {
        grid-column: 1 / -1;
      }
    }
  }

  .project-cont {
    background: $color-primary;
    grid-column: center-start / 4;
    color: $color-white;
    padding: 3rem 5rem;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    display: grid;

    @media only screen and (max-width: $bp-tab) {
      grid-column: 1 / 6;
    }

    .project {
      grid-row: 1 / 7;
      grid-column: 1 / 2;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (max-width: $bp-tab-por) {
        grid-column: 1 / -1;
        flex-direction: row;
      }

      &__number {
        color: $color-white;

        @media only screen and (max-width: $bp-tab-por) {
          order: 2;
        }
      }

      &__title {
        padding-bottom: 5rem;

        @media only screen and (max-width: $bp-tab-por) {
          order: 1;
        }

        &--name {
          font-family: $font-display;
          font-size: 2.4rem;
          margin-bottom: 2rem;

          @media only screen and (max-width: $bp-tab-por) {
            font-size: 2.6rem;
          }

          &::after {
            content: "";
            height: 1px;
            width: 2rem;
            background: $color-white;
            display: block;
            margin-top: 1rem;
          }
        }

        &--cat {
          list-style: none;
          font-weight: 400;
          font-size: 1.2rem;

          @media only screen and (max-width: $bp-tab-por) {
            font-size: 1.4rem;
          }

          li:before {
            content: "\2022";
            color: $color-white;
            position: absolute;
            font-weight: normal;
            font-size: 1.2rem;
            margin-left: -1.3em;
          }
        }
      }
    }

    .project-case {
      grid-column: 3 / -1;
      grid-row: 1 / -1;
      width: 180%;
      background: $color-black;
      border: 5px solid $color-white;
      position: relative;
      display: grid;
      align-items: end;

      @media only screen and (max-width: $bp-desktop-sm) {
        max-width: 175%;
      }

      @media only screen and (max-width: $bp-tab) {
        height: 45rem;
      }

      @media only screen and (max-width: $bp-tab-por) {
        max-width: 143%;
        grid-row: auto;
        height: 35rem;
        grid-column: 1 / -1;
        border: 2px solid $color-white;
        overflow: hidden;
      }

      @media only screen and (max-width: $bp-mobile) {
        height: 30rem;
        max-width: 160%;
      }

      @media only screen and (max-width: $bp-mobile-small) {
        height: 25rem;
        max-width: 160%;
      }

      &__item {
        padding: 3rem;

        .dark-overlay {
          position: absolute;
          background: $color-black;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6;
        }

        &--bg {
          background-size: cover !important;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        // START PROJECT IMAGE PREVIEW

        &--bg-1 {
          background: url("../img/projects/supergiant-preview.jpg");
        }

        &--image {
          height: 32rem;
          position: absolute;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &--overview,
        &--desc,
        &--button {
          position: relative;
          z-index: 4;
        }

        &--overview {
          color: $color-white;
          font-size: 1.4rem;
          display: block;
          border-bottom: 1px solid $color-primary;
          padding-bottom: 2rem;
        }
        &--desc {
          font-size: 1.4rem;

          @media only screen and (max-width: $bp-tab) {
            font-size: 1.6rem;
            margin-bottom: 1rem;
          }
        }
        &--button {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1rem;
          color: $color-black;
          background-color: $color-white;
          padding: 10px 20px;
          text-decoration: none;
        }

        .project-case__footer {
          display: grid;
          grid-template-columns: 30rem max-content;
          justify-content: space-between;
          margin-top: 2rem;
          align-items: center;

          @media only screen and (max-width: $bp-desktop-sm) {
            grid-template-columns: 1fr;
            justify-items: start;
            grid-row-gap: 1rem;
          }
        }
      }
    }
  }

  .project-intro {
    grid-column: 5 / 7;
    grid-row: 2 / -1;
    z-index: 2;

    @media only screen and (max-width: $bp-tab) {
      grid-column: 1 / 6;
      grid-row: 4 / 5;
    }

    &__text {
      margin: 3rem 0 4rem 0;

      span {
        font-weight: 500;
        color: $color-black;
        display: block;
        margin-bottom: 2rem;
      }
    }
  }

  .navigator {
    margin-top: 10rem;

    @media only screen and (max-width: $bp-tab) {
      margin-top: 3rem;
    }

    &__number {
      font-size: 1.4rem;
      margin-right: 3rem;
      color: $color-cool-grey;
      font-weight: 700;

      .active {
        color: $color-black;
      }
    }
  }

  .circle-pattern-bg {
    background: url("../img/circle patterns.png") no-repeat;
    height: 34.8rem;
    width: 100%;
    grid-column: 4 / 7;
    grid-row: 2 / -1;
    z-index: -1;

    @media only screen and (max-width: $bp-tab) {
      grid-column: 1 / -1;
      grid-row: auto;
      position: absolute;
      left: 0;
      bottom: 0px;
    }
  }
}

// HOW WE WORK

.howwework {
  background: url(../img/howweworkbg.jpg);
  background-size: cover;
  background-color: $color-black;
  grid-column: full-start / full-end;
  height: 47.5rem;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(min-content, 19rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
  margin: 5rem 0 0rem 0;

  @media only screen and (max-width: $bp-tab-por) {
    height: 100%;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    grid-template-rows: max-content;
  }

  .content {
    @include six-column;
    align-items: start;
    padding: 10rem 0 0 0;

    @media only screen and (max-width: $bp-tab-por) {
      grid-template-columns: 1fr;
    }

    &__title {
      margin-bottom: 6rem;
      color: $color-white;
      grid-column: center-start / 3;

      @media only screen and (max-width: $bp-tab-por) {
        grid-column: center-start / center-end;
      }
    }

    &__subdesc {
      margin-bottom: 6.5rem;
      grid-column: 3 / 6;

      @media only screen and (max-width: $bp-tab-por) {
        grid-column: center-start / center-end;
        width: 90%;
      }

      .content__subtitle {
        margin-bottom: 3rem;
        color: $color-white;
      }

      .content__desc {
        color: $color-grey;
      }
    }
  }
}

.hww-cont {
  grid-column: center-start / center-end;
  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-column-gap: 2rem;
  margin: -12rem 0 10rem 0;
  z-index: 5;

  @media only screen and (max-width: $bp-desktop-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $bp-tab-por) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    margin: 2rem 0 10rem 0;
    // grid-row-gap: 3rem;
  }
}

.quote {
  grid-column: center-start / center-end;

  @media only screen and (max-width: $bp-tab-por) {
    margin-top: 5rem;
  }

  .content {
    @include six-column;
    align-items: center;
    position: relative;

    blockquote {
      grid-column: 1 / 6;
      color: $color-black;

      @media only screen and (max-width: $bp-tab-por) {
        grid-column: 1 / -1;
      }
    }

    img {
      grid-column: 6 / 7;

      @media only screen and (max-width: $bp-tab-por) {
        width: 25%;
        position: absolute;
        right: 2rem;
        z-index: -1;
        top: -8rem;
        grid-column: 1 / -1;
      }

      @media only screen and (max-width: $bp-mobile) {
        top: -8rem;
      }

      @media only screen and (max-width: $bp-mobile-small) {
        top: -6.5rem;
      }
    }
  }

  &--large {
    font-size: 5.5rem;
    line-height: 6rem;

    @media only screen and (max-width: $bp-tab) {
      font-size: 5rem;
      line-height: 5.2rem;
    }

    @media only screen and (max-width: $bp-tab-por) {
      font-size: 4.5rem;
      line-height: 5rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 3.8rem;
      line-height: 4.2rem;
    }
  }
}

// CTA BOTTOM

.cta-bottom {
  grid-column: center-start / center-end;
  margin: 14rem 0 8rem 0;

  @media only screen and (max-width: $bp-mobile) {
    margin: 10rem 0 8rem 0;
  }

  .content {
    @include six-column;
    align-items: start;

    @media only screen and (max-width: $bp-desktop-sm) {
      grid-column-gap: 0rem;
    }

    @media only screen and (max-width: $bp-tab) {
      grid-row-gap: 3rem;
    }

    @media only screen and (max-width: $bp-tab-por) {
      grid-column: 1 / -1;
    }

    .fly-text {
      @media only screen and (max-width: $bp-tab) {
        left: -7rem;
      }
    }

    &__title {
      margin-bottom: 6rem;
      color: $color-primary;
      grid-column: center-start / 3;

      @media only screen and (max-width: $bp-tab) {
        margin-bottom: 0;
      }

      @media only screen and (max-width: $bp-mobile) {
        grid-column: center-start / 2;
      }
    }

    &__subdesc {
      margin-bottom: 6.5rem;
      grid-column: 3 / 5;

      @media only screen and (max-width: $bp-tab) {
        grid-column: 3 / -1;
        margin-bottom: 0;
      }

      @media only screen and (max-width: $bp-mobile) {
        grid-column: 2 / -1;
      }

      .content__subtitle {
        margin-bottom: 2.5rem;
        color: $color-black;
      }

      .content__desc {
        color: $color-text-dark;
      }
    }

    .mainlink {
      grid-column: 5 / 7;
      margin-left: 7rem;
      margin-top: 5rem;

      @media only screen and (max-width: $bp-tab) {
        grid-column: 3 / -1;
        margin-top: 0;
        margin-left: 0;
        max-width: 28rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        grid-column: 1 / -1;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
      }

      i {
        margin-top: 0.5rem;

        @media only screen and (max-width: $bp-mobile) {
          margin-right: 2rem;
        }
      }
    }
  }
}
